.testimonials {
  padding: 80px 10%;
  text-align: center;
  background: #e9e5e2;
}

.testimonials h2 {
  font-size: 38px;
  color: #1e293b;
  margin-bottom: 50px;
}

.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonial-card {
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border: 1px solid rgb(22, 17, 58);
  border-radius: 16px;
  width: 300px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.testimonial-card:hover {
  border-color: #0095ff;
  box-shadow: 0 25px 40px rgb(40, 94, 255);
  transform: translateY(-8px);
}

.testimonial-card .message {
  font-size: 16px;
  color: #110c3b;
  margin-bottom: 20px;
  line-height: 1.6;
}

.testimonial-card .info {
  margin-top: 10px;
}

.testimonial-card .name {
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
}

.testimonial-card .role {
  font-size: 14px;
  color: #64748b;
  
}

@media (max-width: 768px) {
  .testimonial-card {
    width: 90%;
  }
}
