.home {
  position: relative;
  padding: 120px 20px;
  text-align: center;
  color: #D2C1B6;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../../assets/home-image.jpg") center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: 1;
}
.home::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}
.home-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  margin: 0 auto;
}
.home h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  color:#EDEDCE ;
}
.home h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color:#EDEDCE ;
}

.home p {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.9;
  color: #EDEDCE;
}

.home button {
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 30px;
  background: #0C2C55;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.home button:hover {
  background: #090f48;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 32px;
  }

  .home p {
    font-size: 16px;
  }
}
