.lecture-page{
    display: flex;
    justify-content: center;
    min-height: 80vh;

    @media (max-width:768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left{
        width:70% ;
        padding: 10px;
        align-items: center;

       @media (max-width:768px) {
        width:90% ;
    }
    }

    .right{
        width:30%;

        .lecture-form{
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0,2px,4px,rgba(0,0,0,0.1);
            text-align: center;
            width: auto;

            h2{
                font-size: 24px;
                color: cadetblue;
                margin-bottom: 15px;
            }
            form{
                text-align: left;

                label{
                    display: block;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: rgb(1, 1, 20);
                }
                input{
                    width: 92%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid black;
                    border-radius: 7px;
                }
            }
        }
        @media (max-width:768px) {
            width: 80px;
            margin-bottom: 18px;
        }
        .lecture-number{
            background-color: #fff;
            padding: 10px;
            border: 1px solid black;
            border-radius: 7px;
            margin-top: 10px;
            cursor: pointer;
            text-align: center;

            &:hover{
                background-color: blue;
                color: #fff;
            }
        }

        .active{
            background-color: blue;
            color: #fff;
        }
    }
}