.profile{
    background-color: rgb(118, 241, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0p 2px 4px rgba(0,0,0,0.1);
    width: 50%;
    margin: 185px auto;

    @media (max-width:768px) {
        padding: 10px;
        width: 80%;
        margin:90px auto;
    }

    .profile-info{
        text-align: left;
        margin-top: 15px;
    }
    p{
        margin-bottom: 10px;
        color: black;

        strong{
            color: #3b2548;

        }
    }

}