.course-card{
    background-color: rgb(168, 210, 246);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: 0.5s;

    &:hover{
       box-shadow: 0px 8px 20px rgba(8, 22, 41, 0.6);
    }

    .course-image{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 18px;
        color: rgb(8, 8, 47);
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
        color: #090a25;
        margin-bottom: 5px;
    }
}