.payment-success-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background-color: aliceblue;

    .success-message{
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
        text-align: center;
        width: 300px;
    }

    h2{
        font-size: 24px;
        color: rgb(55, 86, 227);
        margin-bottom: 15px;
    }
    p{
        font-size: 16px;
        color: rgb(55, 86, 227);
        margin-bottom: 15px;
    }
    a{
        text-decoration: none;
    }

}