.about {
  padding: 100px 20px;
  background-color: beige;
  color: rgb(10, 41, 78);
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.tagline {
  color: #38bdf8;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-content p {
  line-height: 1.7;
  color: #0d1d3d;
}

.about-features {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.feature {
  background: rgba(0, 0, 0, 0.08);
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 15px;
}

.about-image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(15, 15, 255, 0.5);
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-features {
    grid-template-columns: 1fr;
  }
}
